@import 'tailwindcss';

:root {
  --background: #f5f5f5;
  --surface: #ffffff;
  --text-primary: #171717;
  --text-secondary: #525252;
  --accent: #000000;
  --border: #e5e5e5;
}

@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-accent: var(--accent);
  --color-border: var(--border);
  --font-sans: 'Pretendard', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: var(--font-sans);
}

::selection {
  background: var(--accent);
  color: var(--surface);
}

/* Scrollbar */
main {
  scrollbar-width: thin;
  scrollbar-color: #515151 #171717;
}
